%p= link_to "Reset" unless @wage.nil?
%br
%br
%br
%div
  - if @wage.nil?
    Bored at work? Stare at your money instead of the clock
    %br
    %br
    - form_tag :root, :method => "get", do
      .submit
        $
        = text_field_tag :wage
        = submit_tag "What's Your Hourly Wage?"
  - unless @wage.nil?
    %br
    Accumulated Wages:
    %p
      .display
        = @per_second
