%p= link_to "Reset" unless @wage.nil?
%br
%br
%br
%div
  - if @wage.nil?
    Bored at work? Watch your money accumulate as time passes by!
    %br
    %br
    - form_tag :root, :method => "get", do
      .submit
        $
        = text_field_tag :wage
        = submit_tag "What's Your Hourly Wage?"
  - unless @wage.nil?
    %br
    How much money you've accumulated while sitting here:
    %p
      .display
        = @per_second
